<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cookie">
	<select id="CList" resultType="cookieDTO">
		select * from Cookie
	</select>
	
	
	
	<select id="CView" resultType="cookieDTO"
		parameterType="cookieDTO">
		select Cookie.*, cookiecategory.c_name  from Cookie,cookiecategory where c_serial=#{c_serial} and Cookie.c_type=cookiecategory.c_type
	</select>

</mapper>

	




