<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice">
	<select id="NList" resultType="boardNoticeDTO"  parameterType="map" >
		select c.*
            from ( select a.*, @RNUM := @RNUM+1  rnum
                from (select * from notice
                   <where>
			<if test="keyWord!=null and keyField=='n_title'">
				n_title like CONCAT('%',#{keyWord},'%')
			</if>
			<if test="keyWord!=null and keyField=='n_content'">
				n_content like CONCAT('%',#{keyWord},'%')
			</if>
			<if test="keyWord!=null and keyField=='all'">
				n_title like CONCAT('%',#{keyWord},'%') or
				n_content like CONCAT('%',#{keyWord},'%')
			</if>
		</where>
                     order by n_num desc)a,(select @RNUM:=0)R)c
  <![CDATA[
    where rnum >=#{start} AND rnum <=#{end}
    ]]>
	</select>
	
	<select id="NCount" resultType="int"  parameterType="map" >
		select count(*) from notice
		<where>
			<if test="keyWord!=null and keyField=='title'">
				n_title like '%' || #{keyWord} || '%'
			</if>
			<if test="keyWord!=null and keyField=='content'">
				n_content like '%' || #{keyWord} || '%'
			</if>
			<if test="keyWord!=null and keyField=='all'">
				n_title like '%' || #{keyWord} || '%' or
				n_content like '%' || #{keyWord} || '%'
			</if>
		</where>
	</select>
	
	<select id="NContent" resultType="boardNoticeDTO" parameterType="int">
		select * from notice where n_num=#{n_num}
	</select>
	<update id="NViewUpdate" parameterType="int">
		update notice set n_view=(n_view+1) where n_num=#{n_num}
	</update>
	
	<insert id="NInsert" parameterType="boardNoticeDTO">
		insert into notice(n_num,n_title,n_content,n_date,n_view,n_pw,a_id) values(#{n_num},#{n_title},#{n_content},now(),#{n_view},#{n_pw},#{a_id})
	</insert>
	<select id="NMax" resultType="int">
		select max(n_num) from notice
	</select>
	
	<select id="NUpateForm" resultType="boardNoticeDTO" parameterType="int">
		select * from notice where n_num=#{n_num}
	</select>
	<update id="NUpdate" parameterType="boardNoticeDTO">
		update notice set n_title=#{n_title},n_content=#{n_content} where n_num=#{n_num} and n_pw=#{n_pw}
	</update>
	
	<delete id="NDelete" parameterType="boardNoticeDTO">
		delete from notice where n_num=#{n_num} and n_pw=#{n_pw}
	</delete>
	
</mapper>

	




